{:dependencies [#_"hl7.fhir.us.core"
                #_"hl7.fhir.us.Davinci-drug-formulary"
                "hl7.fhir.uv.sdc"
                "hl7.fhir.r4.core"
                #_"hl7.fhir.us.davinci-pdex"
                #_"hl7.fhir.us.davinci-pdex-plan-net"
                #_"hl7.fhir.us.dme-orders"
                #_"hl7.fhir.us.carin-bb"
                #_"hl7.fhir.us.mcode"]}
