{:address
 [{:use "home",
   :city "PleasantVille",
   :type "both",
   :state "Vic",
   :line ["534 Erewhon St"],
   :postalCode "3999",
   :period {:start "1974-12-25"},
   :district "Rainbow",
   :text "534 Erewhon St PeasantVille, Rainbow, Vic  3999"}],
 :meta
 {:lastUpdated "2021-09-01T15:29:43.491461Z",
  :createdAt "2021-09-01T15:29:43.491461Z",
  :versionId "635"},
 :managingOrganization
 {:id "1", :resourceType "Organization"},
 :name
 [{:use "official", :given ["Peter" "James"], :family "Chalmers"}
  {:use "usual", :given ["Jim"]}
  {:use "maiden",
   :given ["Peter" "James"],
   :_given [{:extension [{:url "rus", :value {:string "Пётр"}}]}
            {:extension [{:url "rus", :value {:string "Жемис"}}]}]
   :family "Windsor",
   :_family {:extension [{:url "rus", :value {:string "Виндсор"}}]}
   :period {:end "2002"}}],
 :birthDate "1974-12-25",
 :resourceType "Patient",
 :deceased {:boolean false},
 :active true,
 :id "example",
 :identifier
 [{:use "usual",
   :type
   {:coding
    [{:code "MR",
      :system "http://terminology.hl7.org/CodeSystem/v2-0203"}]},
   :value "12345",
   :period {:start "2001-05-06"},
   :system "urn:oid:1.2.36.146.595.217.0.1",
   :assigner {:display "Acme Healthcare"}}],
 :telecom
 [{:use "home"}
  {:use "work", :rank 1, :value "(03) 5555 6473", :system "phone"}
  {:use "mobile", :rank 2, :value "(03) 3410 5613", :system "phone"}
  {:use "old",
   :value "(03) 5555 8834",
   :period {:end "2014"},
   :system "phone"}],
 :gender "male",
 :contact
 [{:name
   {:given ["Bénédicte"],
    :family "du Marché"}
   :gender "female",
   :period {:start "2012"},
   :address
   {:use "home",
    :city "PleasantVille",
    :line ["534 Erewhon St"],
    :type "both",
    :state "Vic",
    :period {:start "1974-12-25"},
    :district "Rainbow",
    :postalCode "3999"},
   :telecom [{:value "+33 (237) 998327", :system "phone"}],
   :relationship
   [{:coding
     [{:code "N",
       :system "http://terminology.hl7.org/CodeSystem/v2-0131"}]}]}],
 :text
 {:div
  "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n\t\t\t<table>\n\t\t\t\t<tbody>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Name</td>\n\t\t\t\t\t\t<td>Peter James \n              <b>Chalmers</b> (&quot;Jim&quot;)\n            </td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Address</td>\n\t\t\t\t\t\t<td>534 Erewhon, Pleasantville, Vic, 3999</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Contacts</td>\n\t\t\t\t\t\t<td>Home: unknown. Work: (03) 5555 6473</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Id</td>\n\t\t\t\t\t\t<td>MRN: 12345 (Acme Healthcare)</td>\n\t\t\t\t\t</tr>\n\t\t\t\t</tbody>\n\t\t\t</table>\n\t\t</div>",
  :status "generated"}}
