{:description
 "Base StructureDefinition for Money Type: An amount of economic utility in some recognized currency.",
 :date "2019-11-01T09:29:23+11:00",
 :derivation "specialization",
 :meta {:lastUpdated "2019-11-01T09:29:23.356+11:00"},
 :publisher "HL7 FHIR Standard",
 :fhirVersion "4.0.1",
 :name "Money",
 :mapping
 [{:identity "rim", :uri "http://hl7.org/v3", :name "RIM Mapping"}
  {:identity "v2", :uri "http://hl7.org/v2", :name "HL7 v2 Mapping"}],
 :abstract false,
 :type "Money",
 :resourceType "StructureDefinition",
 :extension
 [{:url
   "http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status",
   :valueCode "normative"}
  {:url
   "http://hl7.org/fhir/StructureDefinition/structuredefinition-normative-version",
   :valueCode "4.0.0"}],
 :snapshot
 {:element
  [{:constraint
    [{:key "ele-1",
      :severity "error",
      :human "All FHIR elements must have a @value or children",
      :expression "hasValue() or (children().count() > id.count())",
      :xpath "@value|f:*|h:div",
      :source "http://hl7.org/fhir/StructureDefinition/Element"}],
    :path "Money",
    :min 0,
    :definition
    "An amount of economic utility in some recognized currency.",
    :isModifier false,
    :short "An amount of economic utility in some recognized currency",
    :mapping
    [{:identity "rim", :map "n/a"} {:identity "rim", :map "MO"}],
    :extension
    [{:url
      "http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status",
      :valueCode "normative"}
     {:url
      "http://hl7.org/fhir/StructureDefinition/structuredefinition-normative-version",
      :valueCode "4.0.0"}],
    :max "*",
    :id "Money",
    :condition ["ele-1"],
    :base {:path "Money", :min 0, :max "*"}}
   {:path "Money.id",
    :min 0,
    :definition
    "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
    :isModifier false,
    :short "Unique id for inter-element referencing",
    :mapping [{:identity "rim", :map "n/a"}],
    :type
    [{:extension
      [{:url
        "http://hl7.org/fhir/StructureDefinition/structuredefinition-fhir-type",
        :valueUrl "string"}],
      :code "http://hl7.org/fhirpath/System.String"}],
    :representation ["xmlAttr"],
    :max "1",
    :id "Money.id",
    :base {:path "Element.id", :min 0, :max "1"},
    :isSummary false}
   {:constraint
    [{:key "ele-1",
      :severity "error",
      :human "All FHIR elements must have a @value or children",
      :expression "hasValue() or (children().count() > id.count())",
      :xpath "@value|f:*|h:div",
      :source "http://hl7.org/fhir/StructureDefinition/Element"}
     {:key "ext-1",
      :severity "error",
      :human "Must have either extensions or value[x], not both",
      :expression "extension.exists() != value.exists()",
      :xpath
      "exists(f:extension)!=exists(f:*[starts-with(local-name(.), \"value\")])",
      :source "http://hl7.org/fhir/StructureDefinition/Extension"}],
    :path "Money.extension",
    :min 0,
    :definition
    "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.",
    :isModifier false,
    :short "Additional content defined by implementations",
    :mapping [{:identity "rim", :map "n/a"}],
    :slicing
    {:discriminator [{:type "value", :path "url"}],
     :description "Extensions are always sliced by (at least) url",
     :rules "open"},
    :type [{:code "Extension"}],
    :alias ["extensions" "user content"],
    :max "*",
    :id "Money.extension",
    :comment
    "There can be no stigma associated with the use of extensions by any application, project, or standard - regardless of the institution or jurisdiction that uses or defines the extensions.  The use of extensions is what allows the FHIR specification to retain a core level of simplicity for everyone.",
    :base {:path "Element.extension", :min 0, :max "*"},
    :isSummary false}
   {:constraint
    [{:key "ele-1",
      :severity "error",
      :human "All FHIR elements must have a @value or children",
      :expression "hasValue() or (children().count() > id.count())",
      :xpath "@value|f:*|h:div",
      :source "http://hl7.org/fhir/StructureDefinition/Element"}],
    :path "Money.value",
    :requirements
    "The amount of the currency. The value includes an implicit precision in the presentation of the value.",
    :min 0,
    :definition "Numerical value (with implicit precision).",
    :isModifier false,
    :short "Numerical value (with implicit precision)",
    :mapping [{:identity "v2", :map "MO.Value"}],
    :type [{:code "decimal"}],
    :max "1",
    :id "Money.value",
    :comment
    "Monetary values have their own rules for handling precision (refer to standard accounting text books).",
    :base {:path "Money.value", :min 0, :max "1"},
    :isSummary true}
   {:constraint
    [{:key "ele-1",
      :severity "error",
      :human "All FHIR elements must have a @value or children",
      :expression "hasValue() or (children().count() > id.count())",
      :xpath "@value|f:*|h:div",
      :source "http://hl7.org/fhir/StructureDefinition/Element"}],
    :path "Money.currency",
    :requirements
    "A code indicating the currency, taken from ISO 4217.",
    :min 0,
    :definition "ISO 4217 Currency Code.",
    :isModifier false,
    :short "ISO 4217 Currency Code",
    :mapping [{:identity "v2", :map "MO.Currency"}],
    :type [{:code "code"}],
    :binding
    {:extension
     [{:url
       "http://hl7.org/fhir/StructureDefinition/elementdefinition-bindingName",
       :valueString "CurrencyCode"}
      {:url
       "http://hl7.org/fhir/StructureDefinition/elementdefinition-isCommonBinding",
       :valueBoolean true}],
     :strength "required",
     :description
     "A code indicating the currency, taken from ISO 4217.",
     :valueSet "http://hl7.org/fhir/ValueSet/currencies|4.0.1"},
    :max "1",
    :id "Money.currency",
    :base {:path "Money.currency", :min 0, :max "1"},
    :isSummary true}]},
 :status "active",
 :id "Money",
 :kind "complex-type",
 :url "http://hl7.org/fhir/StructureDefinition/Money",
 :version "4.0.1",
 :differential
 {:element
  [{:id "Money",
    :extension
    [{:url
      "http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status",
      :valueCode "normative"}
     {:url
      "http://hl7.org/fhir/StructureDefinition/structuredefinition-normative-version",
      :valueCode "4.0.0"}],
    :path "Money",
    :short "An amount of economic utility in some recognized currency",
    :definition
    "An amount of economic utility in some recognized currency.",
    :min 0,
    :max "*",
    :mapping [{:identity "rim", :map "MO"}]}
   {:path "Money.value",
    :requirements
    "The amount of the currency. The value includes an implicit precision in the presentation of the value.",
    :min 0,
    :definition "Numerical value (with implicit precision).",
    :short "Numerical value (with implicit precision)",
    :mapping [{:identity "v2", :map "MO.Value"}],
    :type [{:code "decimal"}],
    :max "1",
    :id "Money.value",
    :comment
    "Monetary values have their own rules for handling precision (refer to standard accounting text books).",
    :isSummary true}
   {:path "Money.currency",
    :requirements
    "A code indicating the currency, taken from ISO 4217.",
    :min 0,
    :definition "ISO 4217 Currency Code.",
    :short "ISO 4217 Currency Code",
    :mapping [{:identity "v2", :map "MO.Currency"}],
    :type [{:code "code"}],
    :binding
    {:extension
     [{:url
       "http://hl7.org/fhir/StructureDefinition/elementdefinition-bindingName",
       :valueString "CurrencyCode"}
      {:url
       "http://hl7.org/fhir/StructureDefinition/elementdefinition-isCommonBinding",
       :valueBoolean true}],
     :strength "required",
     :description
     "A code indicating the currency, taken from ISO 4217.",
     :valueSet "http://hl7.org/fhir/ValueSet/currencies|4.0.1"},
    :max "1",
    :id "Money.currency",
    :isSummary true}]},
 :contact [{:telecom [{:system "url", :value "http://hl7.org/fhir"}]}],
 :baseDefinition "http://hl7.org/fhir/StructureDefinition/Element"}
