{:address
 [{:use "home",
   :city "Amsterdam",
   :line ["Bos en Lommerplein 280"],
   :country "NLD",
   :postalCode "1055RW"}],
 :meta
 {:lastUpdated "2021-08-17T06:43:38.646797Z",
  :createdAt "2021-08-17T06:43:38.646797Z",
  :versionId "590"},
 :managingOrganization
 {:id
  "f201",
  :display "AUMC",
  :resourceType "Organization"},
 :name
 [{:use "official",
   :text "Roel",
   :given ["Roelof Olaf"],
   :family "Bor",
   :prefix ["Drs."],
   :suffix ["PDEng."]}],
 :birthDate "1960-03-13",
 :resourceType "Patient",
 :multipleBirth {:boolean false},
 :deceased {:boolean false},
 :photo [{:url "Binary/f006", :contentType "image/jpeg"}],
 :active true,
 :communication
 [{:language
   {:coding
    [{:code "nl-NL", :system "urn:ietf:bcp:47", :display "Dutch"}]},
   :preferred true}],
 :id "f201",
 :identifier
 [{:use "official",
   :type {:text "BSN"},
   :value "123456789",
   :system "urn:oid:2.16.840.1.113883.2.4.6.3"}
  {:use "official",
   :type {:text "BSN"},
   :value "123456789",
   :system "urn:oid:2.16.840.1.113883.2.4.6.3"}],
 :telecom
 [{:use "mobile", :value "+31612345678", :system "phone"}
  {:use "home", :value "+31201234567", :system "phone"}],
 :gender "male",
 :maritalStatus
 {:coding
  [{:code "36629006",
    :system "http://snomed.info/sct",
    :display "Legally married"}
   {:code "M",
    :system
    "http://terminology.hl7.org/CodeSystem/v3-MaritalStatus"}]},
 :contact
 [{:name {:use "usual", :text "Ariadne Bor-Jansma"},
   :telecom [{:use "home", :value "+31201234567", :system "phone"}],
   :relationship
   [{:coding
     [{:code "127850001",
       :system "http://snomed.info/sct",
       :display "Wife"}
      {:code "N",
       :system "http://terminology.hl7.org/CodeSystem/v2-0131"}
      {:code "WIFE",
       :system
       "http://terminology.hl7.org/CodeSystem/v3-RoleCode"}]}]}]}
