{:zen/tags #{fhir/profile resource zen/schema}
 :zen/desc "Demographics and other administrative information about an individual or animal receiving care or other health-related services."
 #_"Information about an individual or animal receiving health care services",
 :confirms #{DomainResource}
 :type zen/map
 :keys {:identifier {:type zen/vector
                     #_#_:zen/desc "An identifier for this patient",
                     :every {:confirms #{Identifier}
                             :zen/desc "An identifier for this patient",}}
        :active {:type zen/boolean}

        :name {:type zen/vector
               :every {:confirms #{HumanName}}}

        :telecom {:type zen/vector
                  :every {:confirms #{ContactPoint}}}

        :gender  {:confirms #{code}
                  #_#_:effects {fhir/binding {:strength "required",
                                              :description "The gender of a person used for administrative purposes.",
                                              :valueSet "http://hl7.org/fhir/ValueSet/administrative-gender|4.0.1"}}}

        :birthDate {:confirms #{date}}

        #_#_:deceased {:type zen/map
                       :exclusive-keys #{:boolean :dateTime}
                       :keys {:boolean {:type zen/boolean}}}
        :deceasedDateTime {:confirms #{dateTime}, :type zen/datetime},
        :deceasedBoolean {:confirms #{boolean}, :type zen/boolean},
        :contact {:type zen/vector
                  :every {:type zen/map
                          :keys {:relationship
                                 {:type zen/vector
                                  :every {:confirms #{CodeableConcept}}}
                                 :name {:confirms #{HumanName}}}}}
        :managingOrganization {:confirms #{Reference}}}}
