{ns fhir

 resource       {:zen/tags #{zen/tag}}
 primitive-type {:zen/tags #{zen/tag}}
 complex-type   {:zen/tags #{zen/tag}}

 profile
 {:zen/tags #{zen/tag zen/schema}
  :type     zen/map
  :keys     {:resourceType       {:type zen/string}
             :profile-definition {:type zen/string}
             :format             {:type zen/keyword
                                  :enum [{:value :aidbox}
                                         {:value :fhir}]}
             :severity           {:type zen/string
                                  :enum [{:value "required"}
                                         {:value "supported"}]}}}}
